#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos { compatible = "zmk,combos"; };

    macros {
        to_eisu: to_eisu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LANG2 &kp INT5>;
            label = "TO_EISU";
        };

        to_kana: to_kana {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LANG1 &kp INT4>;
            label = "TO_KANA";
        };
    };

    behaviors {
        lt_eisu: lt_eisu {
            compatible = "zmk,behavior-hold-tap";
            label = "LT_EISU";
            bindings = <&mo>, <&to_eisu>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        lt_kana: lt_kana {
            compatible = "zmk,behavior-hold-tap";
            label = "LT_KANA";
            bindings = <&mo>, <&to_kana>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        mt_eisu: mt_eisu {
            compatible = "zmk,behavior-hold-tap";
            label = "MT_EISU";
            bindings = <&kp>, <&to_eisu>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        mt_kana: mt_kana {
            compatible = "zmk,behavior-hold-tap";
            label = "MT_KANA";
            bindings = <&kp>, <&to_kana>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default {
            bindings = <
&none  &none      &none     &none     &none         &none                                         &none           &none  &none      &none    &none          &none
&none  &kp Q      &kp W     &kp E     &kp R         &kp T                                         &kp Y           &kp U  &kp I      &kp O    &kp P          &none
&none  &kp A      &kp S     &kp D     &kp F         &kp G        &none          &none             &kp H           &kp J  &kp K      &kp L    &kp SEMI       &none
&none  &kp Z      &kp X     &kp C     &kp V         &kp B        &kp BACKSPACE  &lt 3 LEFT_SHIFT  &kp N           &kp M  &kp COMMA  &kp DOT  &kp MINUS      &none
&none  &kp LCTRL  &kp LALT  &kp LGUI  &lt_eisu 0 0  &lt 0 SPACE  &lt_kana 0 0   &kp N6            &kp LEFT_SHIFT  &none  &none      &kp N9   &kp LS(UNDER)  &none
            >;
        };

        mouse {
            bindings = <
&trans  &trans          &trans  &trans  &trans  &trans                  &trans  &trans    &trans    &trans    &trans  &trans
&trans  &trans          &trans  &trans  &trans  &trans                  &trans  &trans    &trans    &trans    &trans  &trans
&trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans  &trans  &mkp MB1  &mkp MB2  &mkp MB3  &trans  &trans
&trans  &kp LEFT_SHIFT  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans    &trans    &trans  &trans
&trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans    &trans    &trans  &trans
            >;
        };

        num_and_func {
            bindings = <
&trans  &trans   &trans   &trans  &trans  &trans                   &trans  &trans  &trans  &trans  &trans     &trans
&trans  &kp N1   &kp N2   &kp N3  &kp N4  &kp N5                   &kp N6  &kp N7  &kp N8  &kp N9  &kp N0     &trans
&trans  &kp F1   &kp F2   &kp F3  &kp F4  &kp F5   &trans  &trans  &trans  &kp N4  &kp N5  &kp N6  &kp COMMA  &trans
&trans  &kp F6   &kp F7   &kp F8  &kp F9  &kp F10  &trans  &trans  &trans  &kp N1  &kp N2  &kp N3  &kp DOT    &trans
&trans  &kp F11  &kp F12  &trans  &trans  &trans   &trans  &trans  &trans  &trans  &trans  &trans  &trans     &trans
            >;
        };

        settings {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans        &trans        &trans        &trans        &trans        &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &out OUT_USB  &out OUT_BLE  &trans        &trans        &bt BT_CLR    &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans        &trans        &trans        &trans        &trans        &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans        &trans        &trans        &trans        &trans        &trans
            >;
        };
    };
};
